flows (2).json
[{"id":"c0196d5b.9b582","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"946bd05b.960e1","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"37c51aaa.e7bcc6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"aa2a8cf3.e65c5","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"86d9c856.91b608","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"120ef8f7.39adb7","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"5e0f9291.81170c","type":"rpi-gpio out","z":"c0196d5b.9b582","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":671.5,"y":396,"wires":[]},{"id":"6256ba75.674924","type":"debug","z":"c0196d5b.9b582","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":551.5,"y":196,"wires":[]},{"id":"da58e3ab.012a6","type":"rpi-gpio in","z":"c0196d5b.9b582","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":55,"y":346,"wires":[["6256ba75.674924","15ffa494.b48b6b"]]},{"id":"15ffa494.b48b6b","type":"switch","z":"c0196d5b.9b582","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":266.5,"y":400,"wires":[["cda9bbd1.9df688"],["887d8e00.a8ae1"]]},{"id":"cda9bbd1.9df688","type":"change","z":"c0196d5b.9b582","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":468.5,"y":397,"wires":[["5e0f9291.81170c"]]},{"id":"887d8e00.a8ae1","type":"change","z":"c0196d5b.9b582","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":469.5,"y":448,"wires":[["5e0f9291.81170c"]]},{"id":"b0fdac7f.0cd26","type":"inject","z":"946bd05b.960e1","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":256,"wires":[["8c563180.b17ff"]]},{"id":"8c563180.b17ff","type":"function","z":"946bd05b.960e1","name":"Payload","func":"msg.headers={\n    deviceKey: \"AwzlKFwLjnU8Xf7H\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":304.5,"y":324,"wires":[["b325892e.f0a988"]]},{"id":"b325892e.f0a988","type":"http request","z":"946bd05b.960e1","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D40Fkfk4/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":527.5,"y":327,"wires":[["55433391.4928bc","46706e5b.d3405"]]},{"id":"46706e5b.d3405","type":"debug","z":"946bd05b.960e1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695.5,"y":392,"wires":[]},{"id":"55433391.4928bc","type":"http response","z":"946bd05b.960e1","name":"","statusCode":"","headers":{},"x":702.5,"y":326,"wires":[]},{"id":"3211b66c.5b8fea","type":"inject","z":"37c51aaa.e7bcc6","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":75,"y":287,"wires":[["8b674dc1.f4c8d"]]},{"id":"8b674dc1.f4c8d","type":"function","z":"37c51aaa.e7bcc6","name":"Payload","func":"msg.headers={\n    deviceKey: \"AwzlKFwLjnU8Xf7H\"\n    };\n\nmsg.payload= \"Temperature,,13\";\nreturn msg;","outputs":1,"noerr":0,"x":304.5,"y":355,"wires":[["ed0a0aa9.0c5128"]]},{"id":"ed0a0aa9.0c5128","type":"http request","z":"37c51aaa.e7bcc6","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D40Fkfk4/datapoints.csv","tls":"","proxy":"","authType":"","x":532.5,"y":358,"wires":[["172758a7.fa2c77","a9a5d99f.e7b618"]]},{"id":"a9a5d99f.e7b618","type":"debug","z":"37c51aaa.e7bcc6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":695.5,"y":423,"wires":[]},{"id":"172758a7.fa2c77","type":"http response","z":"37c51aaa.e7bcc6","name":"","statusCode":"","headers":{},"x":702.5,"y":357,"wires":[]},{"id":"b4fa9283.59cac","type":"http in","z":"aa2a8cf3.e65c5","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":136.5,"y":218,"wires":[["8b399b70.9a3d98"]]},{"id":"8b399b70.9a3d98","type":"random","z":"aa2a8cf3.e65c5","name":"","low":"1","high":"10","inte":"true","property":"payload","x":311.5,"y":217,"wires":[["483492b3.e0e11c","cdd9add8.8555b"]]},{"id":"483492b3.e0e11c","type":"http response","z":"aa2a8cf3.e65c5","name":"","statusCode":"","headers":{},"x":498.5,"y":217,"wires":[]},{"id":"cdd9add8.8555b","type":"debug","z":"aa2a8cf3.e65c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":454.5,"y":339,"wires":[]},{"id":"fecac2a7.2cc2","type":"http in","z":"86d9c856.91b608","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":208.5,"y":205,"wires":[["a4774dc.10534b"]]},{"id":"17180726.1a8e29","type":"rpi-gpio in","z":"86d9c856.91b608","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":217,"y":378,"wires":[["3450227c.6880ee"]]},{"id":"3450227c.6880ee","type":"function","z":"86d9c856.91b608","name":"Set GPIO","func":"global.set(\"GPIO\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":464,"y":290,"wires":[["131c2c04.101664"]]},{"id":"a4774dc.10534b","type":"function","z":"86d9c856.91b608","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":202,"wires":[["372255f6.82230a","131c2c04.101664"]]},{"id":"372255f6.82230a","type":"http response","z":"86d9c856.91b608","name":"","statusCode":"","headers":{},"x":641,"y":204,"wires":[]},{"id":"131c2c04.101664","type":"debug","z":"86d9c856.91b608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":682,"y":315,"wires":[]},{"id":"1618b1a5.f55dce","type":"http in","z":"120ef8f7.39adb7","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":143.5,"y":245,"wires":[["463f75a3.68d64c","dfe3d0be.5dd9"]]},{"id":"463f75a3.68d64c","type":"function","z":"120ef8f7.39adb7","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":333.5,"y":247,"wires":[["31435aa1.c9e5c6"]]},{"id":"31435aa1.c9e5c6","type":"rpi-gpio out","z":"120ef8f7.39adb7","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":568.500020980835,"y":274.9999952316284,"wires":[]},{"id":"dfe3d0be.5dd9","type":"function","z":"120ef8f7.39adb7","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":358.5,"y":137,"wires":[["dd9e97f9.fdc098","fa835135.2f876"]]},{"id":"dd9e97f9.fdc098","type":"http response","z":"120ef8f7.39adb7","name":"","statusCode":"","headers":{},"x":962.9999809265137,"y":123.99999809265137,"wires":[]},{"id":"fa835135.2f876","type":"debug","z":"120ef8f7.39adb7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":885.0000228881836,"y":339.00000381469727,"wires":[]},{"id":"d031850e.bc1908","type":"http in","z":"120ef8f7.39adb7","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":155,"y":353,"wires":[["73527c9d.b8e4a4","434f5a76.d1eba4"]]},{"id":"73527c9d.b8e4a4","type":"function","z":"120ef8f7.39adb7","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":351.5,"y":346,"wires":[["31435aa1.c9e5c6"]]},{"id":"434f5a76.d1eba4","type":"function","z":"120ef8f7.39adb7","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\"\nreturn msg;","outputs":1,"noerr":0,"x":374.5,"y":433,"wires":[["dd9e97f9.fdc098","fa835135.2f876"]]}]